.shop_window
{
	width: 50%;
	height: 50%;
	margin-top: 100px;
	horizontal-align: center;
	vertical-align: top;
	background-color: gradient( linear, 0% 10%, 0% 100%, from( #425663cc ), color-stop( .45, #42566355 ), to( #0000 ) );
}
.shop_window_title
{
		margin-top: 4px;
		height: 25px;
		horizontal-align: center;
		color: white;
		text-align: center;
		font-size: 20px;
		text-decoration: underline;
		font-family: RadianceM;
}
.dev_particle_icon
{
		width:20%;
		height:20%;
		margin-top: 10%;
		margin-left: 2%;
background-color: red;
horizontal-align: left;
color: white;


}
.dev_particle_title
{
height: 40px;
horizontal-align: center;
color: white;
font-size: 20px;
font-family: RadianceM;


}

.beta_particle_icon
{
		width:20%;
		height:20%;
		margin-top: 10%;
		margin-left: 2%;
horizontal-align: left;
color: white;
background-size: 100%;


}
.beta_particle_title
{
height: 40px;
horizontal-align: center;
vertical-align: top;
color: white;
font-size: 20px;
font-family: RadianceM;


}

.currency
{
	margin-top: 20px;
width: 120px;
font-size: 15px;
horizontal-align: right;
color: white;
margin-left: 50px;
font-family: RadianceM;

}
#player-currency
{
margin-left: 20px;
font-family: RadianceM;
}
#beta_particle_owned_text
{
horizontal-align: center;
margin-bottom: -6px;
vertical-align: bottom;
font-family: RadianceM;

}
#gem-logo
{
		width: 50px;
		height: 50px;
		horizontal-align: left;
		margin-left: -30px;
		vertical-align: top;
		margin-top: -18px;

}

Label, TextEntry
{
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gul ,MingLiU;
}