.shop_window
{
	width: 50%;
	height: 50%;
	margin-top: 100px;
	horizontal-align: center;
	vertical-align: top;
	background-color: gradient( linear, 0% 10%, 0% 100%, from( #425663cc ), color-stop( .45, #42566355 ), to( #0000 ) );
}
.shop_window_title
{
		margin-top: 10px;
		height: 25px;
		horizontal-align: center;
		color: white;
		text-align: center;
		font-size: 20px;
		text-decoration: underline;
		font-family: RadianceM;

}
.dev_particle_icon
{
		width:20%;
		height:20%;
		margin-top: 10%;
		margin-left: 2%;
background-color: red;
horizontal-align: left;
color: white;


}
.dev_particle_title
{
height: 40px;
horizontal-align: center;
color: white;
font-size: 20px;
font-family: RadianceM;


}

.beta_particle_icon
{
		width:20%;
		height:20%;
		margin-top: 14%;
		margin-left: 5%;
horizontal-align: left;
color: white;
background-size: 100%;



}
.beta_particle_title
{
height: 40px;
horizontal-align: center;
vertical-align: top;
color: white;
font-size: 20px;
font-family: RadianceM;
 background-color: gradient( linear, 0% 5%, 0% 100%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
margin-top: -20px;




}

.currency
{
	margin-top: 22px;
width: 300px;
font-size: 15px;
margin-left: 50px;
horizontal-align: left;
color: white;

font-family: RadianceM;


}
#player-currency
{
margin-left: 15px;
font-family: RadianceM;
font-size: 18;
 background-image: url("file://{images}/custom_game/text_background.png");
 color:orange;
 font-weight: bold;
 margin-top: -2px;
 width: 100%;
}
#beta_particle_owned_text
{
horizontal-align: left;
font-size: 15px;
vertical-align: bottom;
font-family: RadianceM;
color:white;
 font-weight: bold;
background-color: gradient( linear, 5% 0%, 100% 0%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}
#gem-logo
{
		width: 30px;
		height: 30px;
		horizontal-align: left;
		margin-left: -20px;
		vertical-align: top;
		margin-top: -7px;

}

.flower_trail_icon
{
width:20%;
height:20%;
margin-top: 14%;
margin-left: 28%;
horizontal-align: left;
color: white;
background-size: 100%;
font-family: RadianceM;


}
.flower_trail_particle_title
{
height: 40px;
horizontal-align: center;
vertical-align: top;
color: white;
font-size: 20px;
font-family: RadianceM;
margin-top: -20px;
 background-color: gradient( linear, 0% 5%, 0% 100%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}
#flower_trail_particle_owned_text
{
horizontal-align: left;
font-size: 15px;
vertical-align: bottom;
font-family: RadianceM;
color:white;
 font-weight: bold;
background-color: gradient( linear, 5% 0%, 100% 0%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}






Label, TextEntry
{
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gul ,MingLiU;
}

.fall_aura_icon
{
width:20%;
height:20%;
margin-top: 14%;
margin-left: 51%;
horizontal-align: left;
color: white;
background-size: 100%;
font-family: RadianceM;


}
.fall_aura_particle_title
{
height: 40px;
horizontal-align: center;
vertical-align: top;
color: white;
font-size: 20px;
font-family: RadianceM;
margin-top: -20px;
 background-color: gradient( linear, 0% 5%, 0% 100%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}
#fall_aura_particle_owned_text
{
horizontal-align: left;
font-size: 15px;
vertical-align: bottom;
font-family: RadianceM;
color:white;
 font-weight: bold;
background-color: gradient( linear, 5% 0%, 100% 0%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}

.green_speed_icon
{
width:20%;
height:20%;
margin-top: 14%;
margin-left: 74%;
horizontal-align: left;
color: white;
background-size: 100%;
font-family: RadianceM;


}
.green_speed_particle_title
{
height: 40px;
horizontal-align: center;
vertical-align: top;
color: white;
font-size: 20px;
font-family: RadianceM;
margin-top: -20px;
 background-color: gradient( linear, 0% 5%, 0% 100%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}
#green_speed_particle_owned_text
{
horizontal-align: left;
font-size: 15px;
vertical-align: bottom;
font-family: RadianceM;
color:white;
 font-weight: bold;
background-color: gradient( linear, 5% 0%, 100% 0%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}

.water_walking_icon
{
width:20%;
height:20%;
margin-top: 40%;
margin-left: 5%;
horizontal-align: left;
color: white;
background-size: 100%;
font-family: RadianceM;


}
.water_walking_particle_title
{
height: 40px;
horizontal-align: center;
vertical-align: top;
color: white;
font-size: 20px;
font-family: RadianceM;
margin-top: -20px;
 background-color: gradient( linear, 0% 5%, 0% 100%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}
#water_walking_particle_owned_text
{
horizontal-align: left;
font-size: 15px;
vertical-align: bottom;
font-family: RadianceM;
color:white;
 font-weight: bold;
background-color: gradient( linear, 5% 0%, 100% 0%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}

.green_bird_icon
{
width:20%;
height:20%;
margin-top: 40%;
margin-left: 28%;
horizontal-align: left;
color: white;
background-size: 100%;
font-family: RadianceM;


}
.green_bird_particle_title
{
height: 40px;
horizontal-align: center;
vertical-align: top;
color: white;
font-size: 20px;
font-family: RadianceM;
margin-top: -20px;
 background-color: gradient( linear, 0% 5%, 0% 100%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}
#green_bird_particle_owned_text
{
horizontal-align: left;
font-size: 15px;
vertical-align: bottom;
font-family: RadianceM;
color:white;
 font-weight: bold;
background-color: gradient( linear, 5% 0%, 100% 0%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}

.pink_bird_icon
{
width:20%;
height:20%;
margin-top: 40%;
margin-left: 51%;
horizontal-align: left;
color: white;
background-size: 100%;
font-family: RadianceM;


}
.pink_bird_particle_title
{
height: 40px;
horizontal-align: center;
vertical-align: top;
color: white;
font-size: 20px;
font-family: RadianceM;
margin-top: -20px;
 background-color: gradient( linear, 0% 5%, 0% 100%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}
#pink_bird_particle_owned_text
{
horizontal-align: left;
font-size: 15px;
vertical-align: bottom;
font-family: RadianceM;
color:white;
 font-weight: bold;
background-color: gradient( linear, 5% 0%, 100% 0%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}

.red_bird_icon
{
width:20%;
height:20%;
margin-top: 40%;
margin-left: 74%;
horizontal-align: left;
color: white;
background-size: 100%;
font-family: RadianceM;


}
.red_bird_particle_title
{
height: 40px;
horizontal-align: center;
vertical-align: top;
color: white;
font-size: 20px;
font-family: RadianceM;
margin-top: -20px;
 background-color: gradient( linear, 0% 5%, 0% 100%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}
#red_bird_particle_owned_text
{
horizontal-align: left;
font-size: 15px;
vertical-align: bottom;
font-family: RadianceM;
color:white;
 font-weight: bold;
background-color: gradient( linear, 5% 0%, 100% 0%, from( #e68a00 ), color-stop( .35, #e68a00 ), to( #0000 ) );
}



Label, TextEntry
{
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gul ,MingLiU;
}