.customization_shop_button
{
	width: 33px;
	height: 33px;
	margin-top: 12px;

	horizontal-align: left;
	vertical-align: top;
    margin-left: 150px;
}
#shop_button 
{
  background-image: url("file://{images}/custom_game/loading_screen/vote-button-40.png"); 
  background-size: 100% 100%;
  margin-left: 20px;
  color: black;
  transition-property: wash-color, brightness;

}

#shop_button:hover
{
    brightness: 2.0;
}

.buttons
{
height: 50px;
width: 50px;
horizontal-align:center;
vertical-align: center;
background-size: 100% 100%;

}